body {
    background: #131313;
}

aside {
    float:left;
    background: #1f1f1f;
    width:20%;
    padding: 2.5%;
    height: 100vh;
    color: #fffdfd;
    border-right: 5px solid rgba(33, 33, 33, 0.85)
}

aside img {
    width: 100px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left:2.5px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3 {
    margin-top: 45px;
    font-size: 25px;
}
aside ul{list-style: none}
aside ul li {
    color:#ffffff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color:#03d1ff;
    text-decoration: none;
    transform: scale(1.05);
}
main .features {
    float: left;
    color: white;
    margin-top:100px;
    text-align:center;
    width:75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}


.alert-warning {
    float:left;
    clear:both;
    width:400px;
    margin: 20px 40%;
    text-align:left;
}
form input{
    display: block;
    margin-left:0%;
    width: 500px;
    margin-top:0px;
}

form textarea {
display: block;
width: 100%;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #000000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-8 {
  background-color: #424246;
background-image: linear-gradient(315deg, #01d9ff 1%, #00f5ff 50%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #01d9ff;

  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #01d9ff;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #01d9ff;
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}

.btn-info{
    background: black;
}