{% extends 'main/layout.html' %}

{% block title  %}Добавление статьи{% endblock %}

{% block content%}
    <div class="features">
        <h1> Форма по добавлению статьи </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date}}<br>
            <span>{{ error }}</span>
            <button class="custom-btn btn-8" type="submit"><span>Добавить статью</span></button>
        </form>
    </div>
{% endblock %}