{% extends 'main/layout.html' %}

{% block title  %}Новости{% endblock %}

{% block content%}
    <div class="features">
        <h1>Нововсти на сайте</h1>

        {% if news %}
            {% for el in news %}
                <div class = 'alert alert-warning'>
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Записей нет</p>
        {% endif %}
    {# Коммент #}
    </div>
{% endblock %}